---
import Icon from "~/components/Icon.astro";
import { navLinks, getCurrentState, ariaCurrent } from "~/data/nav";

interface Props {
  currentPageTitle?: string;
  showSubList?: boolean;
  markActive?: boolean;
}

const {
  currentPageTitle,
  showSubList = false,
  markActive = true,
} = Astro.props;

const { pathname } = Astro.url;
---

<ul class:list={["nav-list", { "nav-list--mark-active": markActive }]}>
  {
    navLinks.map(({ href, label }) => {
      const state = getCurrentState(pathname, href);
      return (
        <li>
          <a
            class="nav-list__link"
            href={href}
            aria-current={ariaCurrent(state)}
          >
            {label}
          </a>
          {showSubList && state === "section" && currentPageTitle && (
            <ul class="nav-list__sublist">
              <li>
                <a
                  class="nav-list__sublink"
                  href={pathname}
                  aria-current="page"
                >
                  <Icon name="corner-down-right" />
                  <span>{currentPageTitle}</span>
                </a>
              </li>
            </ul>
          )}
        </li>
      );
    })
  }
</ul>

<style>
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size-s);
    margin: 0;
    padding: 0;
    list-style-type: "";
  }

  .nav-list__link {
    display: block;
    opacity: 0.75;
    transition: var(--motion-feedback) ease;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
      opacity: 1;
      text-decoration-color: currentColor;
    }

    &:focus-visible {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }
  }

  .nav-list--mark-active .nav-list__link {
    &[aria-current="page"] {
      opacity: 1;
      font-weight: 400;
    }

    &[aria-current="true"] {
      opacity: 1;
    }
  }

  .nav-list__sublist {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size-xs);
    margin: 0;
    padding: 0;
    list-style-type: "";
  }

  .nav-list__sublink {
    display: flex;
    align-items: center;
    gap: var(--spacing-size-xs);
    opacity: 0.75;
    transition: var(--motion-feedback) ease;
    color: inherit;
    font-size: var(--typography-scale-caption);
    text-decoration: underline;
    text-decoration-color: transparent;

    & > span {
      margin-block-start: 3px;
    }

    &:hover {
      opacity: 1;
      text-decoration-color: currentColor;
    }

    &:focus-visible {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }

    &[aria-current="page"] {
      opacity: 1;
    }
  }
</style>
