---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";
import Border from "~/components/Border.astro";
import Button from "~/components/Button.astro";
import Footer from "~/components/Footer.astro";
import IconSprite from "~/components/IconSprite.astro";
import Logo from "~/components/Logo.astro";
import Navigation from "~/components/Navigation.astro";

import socialPreview from "~/images/social-preview.png";

import "~/generated/tokens.css";
import "~/styles/a11y.css";
import "~/styles/reset.css";
import "~/styles/typography.css";

type Props = {
  seo: {
    title: string;
    description: string;
    image?: ImageMetadata;
  };
};

const { seo } = Astro.props;
const { origin, pathname } = Astro.url;

const canonical = `${origin}${pathname}`;

const previewImageUrl = new URL(
  (
    await getImage({
      src: seo.image ?? socialPreview,
      format: "jpeg",
      width: 1200,
      height: 630,
    })
  ).src,
  origin,
).toString();

const fullTitle = `${seo.title} • Luuk Brauckmann`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="/fonts/source-sans.woff2"
      as="font"
      type="font/woff2"
      fetchpriority="high"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/dash-casual.woff2"
      as="font"
      type="font/woff2"
      fetchpriority="high"
      crossorigin
    />
    <title>{fullTitle}</title>
    <meta name="description" content={seo.description} />
    <link rel="canonical" href={canonical} />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Luuk Brauckmann" />
    <meta property="og:title" content={fullTitle} />
    <meta property="og:description" content={seo.description} />
    <meta property="og:url" content={canonical} />
    <meta property="og:image" content={previewImageUrl} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={fullTitle} />
    <meta name="twitter:description" content={seo.description} />
    <meta name="twitter:image" content={previewImageUrl} />
    <slot name="head" />
  </head>
  <body>
    <Button as="a" class="kb-only skip-link" href="#main">
      Skip to main content
    </Button>
    <Button as="a" class="kb-only skip-link" href="#navigation">
      Skip to navigation
    </Button>
    <aside id="navigation" class="navigation" tabindex="-1">
      <Navigation currentPageTitle={seo.title} />
    </aside>
    <div class="content">
      <Border class="content__border">
        <Border class="header">
          <header>
            <a href="/">
              <Logo />
              <span class="sr-only">Luuk Brauckmann</span>
            </a>
          </header>
        </Border>

        <main id="main">
          <slot />
        </main>

        <Footer />
      </Border>
    </div>

    <IconSprite />
  </body>
</html>

<style>
  html {
    --header-height: calc(
      var(--typography-scale-subtitle) + var(--spacing-size-xxs) * 2
    );

    container-type: inline-size;
    background-color: var(--color-surface-canvas);
    scrollbar-gutter: stable;
    color-scheme: dark;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  .skip-link:focus {
    position: fixed;
    inset-block-start: var(--spacing-size-xs);
    inset-inline-start: 50%;
  }

  body {
    min-block-size: 100dvh;
    overflow-x: clip;

    @container (width > 800px) {
      display: grid;
      grid-template-columns: minmax(0, 200px) min(600px, 100%);
      grid-template-areas: "left center";
      justify-content: center;
    }

    @container (width > 1000px) {
      grid-template-columns: minmax(0, 200px) min(600px, 100%) minmax(0, 200px);
      grid-template-areas: "left center right";
    }
  }

  main {
    grid-area: stack;
    overflow: hidden;
  }

  .content {
    grid-area: center;

    @container (width > 800px) {
      padding: var(--spacing-size-xs);
    }
  }

  .content__border {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "stack"
      "footer";
    block-size: 100%;
  }

  .navigation {
    grid-area: left;
  }

  .header {
    display: block;
    position: sticky;
    container-type: scroll-state;
    grid-area: stack;
    align-self: start;
    z-index: 999;
    inset-block-start: -1px;
    border-block-end-color: transparent;

    &::after {
      position: absolute;
      transform: translateY(100%);
      opacity: 0;
      transition: opacity ease;
      transition-duration: var(--motion-transition);
      inset-block-end: 0px;
      inset-inline: 0px;
      background: linear-gradient(
        to bottom,
        var(--color-surface-base),
        transparent
      );
      height: var(--spacing-size-l);
      pointer-events: none;
      content: "";
    }
  }

  .header header {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      background-color ease,
      border-block-end-color ease;
    transition-duration: var(--motion-transition);
    border-block-end: 1px solid transparent;
    padding: var(--spacing-size-xxs);
  }

  @container scroll-state(stuck: top) {
    .header::after {
      opacity: 1;
    }

    .header header {
      background-color: var(--color-surface-canvas);
      border-block-end-color: var(--color-surface-base);
    }
  }
</style>
